<h2 class="page-header">Update User</h2>

<div class="row show-hide-message" *ngIf="message">
<div [ngClass]="messageClass">
{{message}}
</div>
</div>

<form (submit)="updateUserSubmit()" *ngIf="!loading">
  <div class="form-group">
    <label for="Email">Email</label>
    <input [disabled]="processing" type="text" name="email" class="form-control"
    [(ngModel)]="user.email" />
  </div>
  <div class="form-group">
    <label for="Username">Username</label>
    <input [disabled]="processing" type="text" name="username" class="form-control"
    [(ngModel)]="user.username" />
  </div>
  
  <div class="form-group">
      <a [routerLink]="['/delete-user/', user._id]"><button [disabled]="processing" type="button" name="button" class="btn btn-danger">Delete</button></a>
      <button [disabled]="processing" type="button" name="button" class="btn btn-success" (click)="goBack()">Go Back</button>
      <button [disabled]="processing" type="submit" name="save" class="btn btn-info">Save Changes</button>
    </div>
</form>