<h2 class="page-header">Update User</h2>
<div class="row show-hide-message" *ngIf="message">
  <div [ngClass]="messageClass">
  {{message}}
  </div>
  </div>

<form (submit)="updateUserSubmit()" *ngIf="!loading" method="put">
  <div class="form-group">
    <label for="Email">Email</label>
    <input [disabled]="processing" type="text" name="email" class="form-control"
    [(ngModel)]="euser.email" />
  </div>
  <div class="form-group">
    <label for="Username">Username</label>
    <input [disabled]="processing" type="text" name="username" class="form-control"
    [(ngModel)]="euser.username" />
  </div>
  <div class="form-group">
    <label for="Password">Password</label>
    <input [disabled]="processing" type="password" name="password" class="form-control"
    [(ngModel)]="euser.password" />
  </div>
  <div class="form-group">
    <label for="Address">Adress</label>
    <input [disabled]="processing" type="text" name="address" class="form-control"
    [(ngModel)]="euser.address" />
  </div>
  <div class="form-group">
    <label for="Telephone">Telephone</label>
    <input [disabled]="processing" type="text" name="telephone" class="form-control"
    [(ngModel)]="euser.telephone" />
  </div>
  <div class="form-group">
    <label for="Companyname">CompanyName</label>
    <input [disabled]="processing" type="text" name="companyname" class="form-control"
    [(ngModel)]="euser.companyname" />
  </div>
  <div class="form-group">
    <label for="Admin">Admin</label>
    <input [disabled]="processing" type="checkbox" name="admin" value="admin" class="form-control col-sm-4"
    [(ngModel)]="euser.admin" />
  </div>
  <div class="form-group">
    <label for="Active">Active</label>
    <input [disabled]="processing" type="checkbox" name="active" value="active" class="form-control col-sm-4"
    [(ngModel)]="euser.active" />
  </div>


  
  <div class="form-group">
      <a [routerLink]="['/delete-user/', user._id]"><button [disabled]="processing" type="button" name="button" class="btn btn-danger">Delete</button></a>
      <button [disabled]="processing" type="button" name="button" class="btn btn-success" (click)="goBack()">Go Back</button>
      <button [disabled]="processing" type="submit" name="save" class="btn btn-info">Save Changes</button>
    </div>
</form>

