<div class="jumbotron text-center">
  <h1>MEAN Stack Application</h1>
  <p class="lead">Welcome to the MEAN Stack Application by <strong>Truong Pham</strong></p>
  <div>
    <a *ngIf="!authService.loggedIn()" routerLink="/register" class="btn btn-primary">Register</a>
    <a *ngIf="!authService.loggedIn()" routerLink="/login" class="btn btn-default">Login</a>
    <a *ngIf="authService.loggedIn()" routerLink="/blog" class="btn btn-info">View blogs</a>
    <a *ngIf="authService.loggedIn()" routerLink="/dashboard" class="btn btn-success">Dashboard</a>
  </div>
</div>


<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://image.flaticon.com/icons/svg/417/417745.svg" alt="placeholder image" with="140"
      height=140>
      <div class="caption">
        <h3>MongoDB</h3>
        <p>MongoDB is a free and open-source cross-flatform docement-oriented database program. This
           NoSQL database uses JSON-like documents with schema</p>
      </div>
    </div>
  </div>

  
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="https://image.flaticon.com/icons/svg/417/417746.svg" alt="Generic placeholder image" with="140"
          height=140>
          <div class="caption">
            <h3>Express</h3>
            <p>MongoDB is a free and open-source cross-flatform docement-oriented database program. This
               NoSQL database uses JSON-like documents with schema</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="https://image.flaticon.com/icons/svg/417/417747.svg" alt="Generic placeholder image" with="140"
            height=140>
            <div class="caption">
              <h3>Angular</h3>
              <p>MongoDB is a free and open-source cross-flatform docement-oriented database program. This
                 NoSQL database uses JSON-like documents with schema</p>
            </div>
          </div>
        </div>
    </div>
  