<div class="container">
  <div class="col-md-12">
    <h1>User List</h1>
      <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th class="text-center">ID</th>
        <th class="text-center">Username</th>
        <th class="text-center">Email</th>
        <th class="text-center">Password</th>
        <th class="text-center">Address</th>
        <th class="text-center">Telephone</th>
        <th class="text-center">Companyname</th>
        <th class="text-center">admin</th>
        <th class="text-center">Actvate</th>
        <th class="text-center">&nbsp;</th>
        <th class="text-center">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userPosts; let i = index">
        <td>{{ i+1 }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.password }}</td>
        <td>{{ user.address }}</td>
        <td>{{ user.telephone }}</td>
        <td>{{ user.companyname }}</td>
        <td>{{ user.admin }}</td>
        <td>{{ user.activate }}</td>
        <td>
          <button [routerLink]="['/update-user/', user._id]"  class="btn btn-info">
                       <span class="glyphicon glyphicon-plus">Edit</span>
              </button>
        </td>
        <td>
          <button  class="btn btn-danger" (click)="deleteUser(id)">
                       <i class="glyphicon glyphicon-minus">-</i>
            </button>
        </td>
      </tr>
    </tbody>
  </table>


  
     </div>
</div>

