<h2 class="page-header">Delete Blog</h2>

<div class="row show-hide-message" *ngIf="message">
<div [ngClass]="messageClass">
{{message}}
</div>
</div>
<br />
<div class="col-md-6" *ngIf="foundBlog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Confirm</h4>
    </div>
    <div class="modal-body">
      <p>Are you sure you would like to delete this blog?</p>
    </div>
    <div class="modal-footer">
      <button [disabled]="processing" type="button" name="button" class="btn btn-success" (click)="deleteBlog()">Yes</button>
      <a routerLink="/blog"><button [disabled]="processing" type="button" name="button" class="btn btn-danger">No</button></a> 
    </div>
  </div>

<br />
<div class="panel panel-primary">
<div class=" panel-heading">
<h3 class="panel-title">{{ blog.title }}</h3>
</div>
<div class="panel-body">
{{ blog.body }}
</div>
<div>
  <strong>Posted by</strong>{{ blog.createdBy }}
  <br />
  <strong>Date: </strong>{{ blog.createdAt | date: 'MMM dd, yyyy' }}
</div>
</div>
</div>